<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/form.css">
</head>

<%- include('../partials/navigation.ejs')%>
<form class="form" action="/new-password" method="post">
  <h2>New Password</h2>
  <%- include("../partials/messages.ejs") %>
  <div class="form-control">
    <label for="password">Password</label>
    <input id="password" name="password" type="password">
  </div>
  <input type="hidden" name="userId" value="<%= userId %>">
    <input type="hidden" name="passwordToken" value="<%= passwordToken %>">
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  <div class="form-actions">
    <button class="btn" type="submit">Update password</button>
  </div>
</form>
<%- include('../partials/foot.ejs')%>