<%- include('../partials/head.ejs')%>
<link rel="stylesheet" href="/css/form.css">
</head>

<%- include('../partials/navigation.ejs')%>
<form class="form" action="/signup" method="post">
  <h2>Login</h2>
  <%- include("../partials/messages.ejs") %>
  <div class="form-control <%= messages.find(e => e.param==="email") ? "invalid" : "" %>">
    <label for="email">Email</label>
    <input id="email" name="email" type="text" <% if (locals.oldBody) { %>value="<%= oldBody.email %>"<% } %> >
  </div>
  <div class="form-control <%= messages.find(e => e.param==="username") ? "invalid" : "" %>">
    <label for="username">Username</label>
    <input id="username" name="username" type="text" <% if (locals.oldBody) { %>value="<%= oldBody.username %>"<% } %>>
  </div>
  <div class="form-control <%= messages.find(e => e.param==="password") ? "invalid" : "" %>">
    <label for="password">Password</label>
    <input id="password" name="password" type="password" <% if (locals.oldBody) { %>value="<%= oldBody.password %>"<% } %>>
  </div>
  <div class="form-control <%= messages.find(e => e.param==="confirmPassword") ? "invalid" : "" %>">
    <label for="confirmPassword">Confirm Password</label>
    <input id="confirmPassword" name="confirmPassword" type="password" <% if (locals.oldBody) { %>value="<%= oldBody.confirmPassword %>"<% } %>>
  </div>
  <div class="form-actions">
    <button class="btn" type="submit">Signup</button>
  </div>
  <input type="hidden" name="_csrf" value="<%= csrfToken %>">

</form>
<%- include('../partials/foot.ejs')%>