<%- include('../partials/head.ejs') %> 
<link rel="stylesheet" href="/css/form.css" />
</head>
<%- include('../partials/navigation.ejs')
%>

<main>
  <form action="<%= (locals.product ? `/admin/products/edit/${product._id}` : '/admin/add-product') %>" method="post" class="form">
    <h2><%= (locals.product ? 'Edit' : 'Add') %> product</h2>
    <%- include("../partials/messages.ejs") %>
    <div class="form-control">
      <label for="title">Title</label>
      <input
        type="text"
        name="title"
        id="title"
        <% if (locals.product) { %> 
          value="<%= product.title %>"
        <% } %> 
        <% if (locals.oldBody) { %>value="<%= oldBody.title %>"<% } %>
      />
    </div>
    <div class="form-control">
      <label for="iamgeUrl">Image URL</label>
      <input
        type="text"
        name="imageUrl"
        id="imageUrl"
        <% if (locals.product) { %> 
          value="<%= product.imageUrl %>"
        <% } %> 
        <% if (locals.oldBody) { %>value="<%= oldBody.imageUrl %>"<% } %>
      />
    </div>
    <div class="form-control">
      <label for="price">Price</label>
      <input
        type="number"
        name="price"
        id="price"
        step="0.01"
        <% if (locals.product) { %> 
          value="<%=(product.price+"") %>"
        <% } %>
        <% if (locals.oldBody) { %>value="<%= oldBody.price %>"<% } %>
      />
    </div>
    <div class="form-control">
      <label for="description">Description</label>
      <textarea
        name="description"
        id="description"
        rows="5"><% if (locals.oldBody) { %><%= oldBody.description %><% } else if (locals.product) { %><%= product.description %><% } %></textarea>
    </div>
    <button class="btn" type="submit"><%= (locals.product ? 'Save' : 'Add') %></button>
    <input type="hidden" name="_csrf" value="<%= csrfToken %>">
  </form>
</main>
<%- include('../partials/foot.ejs')%>
