<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<%- include('../partials/navigation.ejs') %>
<h2>Cart</h2>
<% if (cartItems.length>0) { %>
 <ul class="cart-items">
  <% cartItems.forEach(cartItem=>{ %> 
    <li class="cart-item">
      <div class="cart-item__body">
        <p class="title"><%= cartItem.title %></p>
        <p class="price">$&nbsp;<%= (+cartItem.price).toFixed(2) %></p>
        <p class="qty">x<%=cartItem.qty%></p>
      </div>
      <div class="cart-item__actions">
        <form action="/cart/remove/<%= cartItem.id %>" method="post">
          <button type="submit" class="btn">-</button>
          <input type="hidden" name="productId" value="<%= cartItem.id %>">
        </form>
        <form action="/cart/add" method="post">
          <button type="submit" class="btn">+</button>
          <input type="hidden" name="productId" value="<%= cartItem.id %>">
        </form>
      </div>
    </li>
  <% }) %> 
  <li class="price cart-items__total"><%= totalPrice.toFixed(2) %> </li>
</ul>
<% } else {%>
  <p>No items in your cart</p>
<% } %> 

<%- include('../partials/foot.ejs')%>
