<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/cart.css">
</head>
<%- include('../partials/navigation.ejs') %>
<h2>Checkout</h2>
  <ul class="cart-items">
   <% products.forEach(product=>{ %>
     <li class="cart-item">
       <h3><%= product.title %></h3>
       <p>Qty: <%= product.quantity %> </p>
       <p>$<%= product.price.toFixed(2) %></p>
     </li>
   <% }) %>
   <hr>
   <li class="price cart-items__total">Total: $ <%= (+totalPrice).toFixed(2) %> </li>
   <div>
     <button id="order-btn" class="btn">Order</button>
     <script src="https://js.stripe.com/v3"></script>
     <script>
       var stripe = Stripe("pk_test_51Kb3n1Eiat2F1zatR3y2pMqc1oT4d6eqIMF5qD1AfsATUHX6PnllKh64o51wz6p67YtIcsgxudsgHVU5TRwu4O5S00yV9JGq6z")
       var orderBtn = document.getElementById("order-btn");

       orderBtn.addEventListener("click",function() {
         stripe.redirectToCheckout({
           sessionId: "<%= sessionId %>"
         })
       })
     </script>
    </div>
 </ul>
 
<%- include('../partials/foot.ejs')%>
