<%- include('../partials/head.ejs') %>
<link rel="stylesheet" href="/css/product-details.css">
  </head>
<%- include('../partials/navigation.ejs') %>
  <main class="main-container">
    <h2><%= product.title %> </h2>
    <hr>
    <img src="<%= product.imageUrl %>" alt="<%= product.title %> ">
    <div class="product__info">
      <p><%= product.description %> </p>
      <p class="price">$ <%= product.price %></p>
    </div>
    <%- include("../partials/add-to-cart.ejs") %> 
</main>
<%- include('../partials/foot.ejs')%>
