<% if (products.length > 0) { %>
<link rel="stylesheet" href="/css/shop.css" />
<ul class="grid">
  <% products.forEach(product => { %>
  <li class="card product-item">
    <header class="card__header">
      <h3 class="product__title"><%= product.title %></h3>
    </header>
    <div class="card-image">
      <img src="/<%= product.imageUrl %>" alt="<%= product.title %> " />
    </div>
    <div class="card__content">
      <h2 class="product__price">$ <%= product.price %></h2>
      <p class="product__desc"><%= product.description %></p>
    </div>
    <div class="card__actions">
      <% if (locals.isAdmin) { %>
      <a href="/admin/products/edit/<%= product._id %>" class="btn">Edit</a>
      <form action="/admin/products/remove" method="post">
        <button type="submit" class="btn">Delete</button>
        <input type="hidden" name="productId" value="<%= product._id %>" />
        <input type="hidden" name="_csrf" value="<%= csrfToken %>" />
      </form>
      <% } else { %>
      <a href="/products/<%= product._id %>" class="btn">Details</a>
      <%- include("../partials/add-to-cart.ejs",{product}) %> <% } %>
    </div>
  </li>
  <% }) %>
</ul>
<% } else { %>
<p>No products found</p>
<% } %>
